[
{lager,
     [{handlers,
          [
          {lager_console_backend, [error, {lager_default_formatter, [time, " ", pid, {pid, [" "], ""},{module, [module, ":", line, " "], ""}, message, "\n"]}]},
          {lager_file_backend,[{file, "priv/logs/error.log"},
                               {level,error},{size,1048576},{date, "$D0"},{count, 3},
                               {formatter, lager_default_formatter},
                               {formatter_config,[time, " ", pid, {pid, [" "], ""},{module, [module, ":", line, " "], ""}, message, "\n"]}]},
          {lager_file_backend,[{file, "priv/logs/info.log"},
                               {level,info},{size,1048576},{date, "$D0"},{count, 2},
                               {formatter, lager_default_formatter},
                               {formatter_config,[time, " ", pid, {pid, [" "], ""},{module, [module, ":", line, " "], ""}, message, "\n"]}]}
          ]
      },
      {crash_log,"priv/logs/crash.log"},
      {crash_log_msg_size,65536},
      {crash_log_size,1048576},
      {crash_log_date,"$D0"},
      {crash_log_count,3},
      {error_logger_redirect,true},
      {colored, true}]},

 {yaws,[{embedded, true}]},
 {rkn_registry,[
    {xml, "priv/request.xml"},
    {sign, "priv/request.bin"},
    {trace, "priv/logs/updates.log"},
    {doc_root, "/home/sphinx/bin/erlang/ex/some_for_work"},
    {port, 8889},
    {listen_on, "127.0.0.1"},
    {hostname, "localhost"}
 ]}
].
