[
{lager,
     [{handlers,
          [
          {lager_console_backend, [error, {lager_default_formatter, [time, " ", pid, {pid, [" "], ""},{module, [module, ":", line, " "], ""}, message, "\n"]}]},
          {lager_file_backend,[{file, "/var/log/rkn_registry/error.log"},
                               {level,error},{size,1048576},{date, "$D0"},{count, 3},
                               {formatter, lager_default_formatter},
                               {formatter_config,[time, " ", pid, {pid, [" "], ""},{module, [module, ":", line, " "], ""}, message, "\n"]}]},
          {lager_file_backend,[{file, "/var/log/rkn_registry/info.log"},
                               {level,info},{size,1048576},{date, "$D0"},{count, 2},
                               {formatter, lager_default_formatter},
                               {formatter_config,[time, " ", pid, {pid, [" "], ""},{module, [module, ":", line, " "], ""}, message, "\n"]}]}
          ]
      },
      {crash_log,"/var/log/rkn_registry/crash.log"},
      {crash_log_msg_size,65536},
      {crash_log_size,1048576},
      {crash_log_date,"$D0"},
      {crash_log_count,3},
      {error_logger_redirect,true},
      {colored, true}]},

 {yaws,[{embedded, true}]},
 {rkn_registry,[
    {registry_url, "http://vigruzki.rkn.gov.ru/services/OperatorRequest/?wsdl"},
    {get_last_update_period, 600},
    {xml, "/etc/rkn_registry/request.xml"},
    {sign, "/etc/rkn_registry/request.bin"},
    {trace, "/var/log/rkn_registry/updates.log"},
    {doc_root, "/home/sphinx/bin/erlang/ex/some_for_work"},
    {www_log_path, "/var/log/rkn_registry/www/" },
    {port, 8889},
    {listen_on, "127.0.0.1"},
    {hostname, "localhost"},
    {dump_csv, true},
    {csv_separator, ";"},
    {csv_fields, [decision,url,domain,ip]},
    {dump_format_ver, "2.0"}
 ]}
].
