%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{paths, ["deps"]}.
{vm_args, "./config/vm.args"}.
{sys_config, "app.config"}.
{include_erts, false}.
{extended_start_script, true}.
{release, {rkn_registry, "0.6"},
 [rkn_registry,
  {yaws, "1.98", '>='},
  {lager, "2.0.0", '>='}]}.

{overlay,
[{mkdir , "priv/arch"},
 {copy , "priv/request.xml", "priv/request.xml"},
 {copy , "priv/request.bin", "priv/request.bin"}
]}.
