
{paths, ["deps"]}.
{vm_args, "./config/vm.args"}.
{sys_config, "app.config"}.
{include_erts, false}.
{extended_start_script, true}.
{include_src, false}.
{release,
 {rkn_registry, "0.8.2"},
 [rkn_registry,
 {sasl, "2.4", '>='},
 {erlsom, load},
 {ibrowse, load},
 {xmerl, "1.3.0", '>='},
 {yaws, load},
 {lager, load}]}.

{overlay,
[{mkdir , "include"},
 {copy , "include/registry.hrl", "include/registry.hrl"}
]}.
